.intro-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff3e0;
}

.birthday-text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  border: 3px solid #f08a5d;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: #fff3e0;
  text-align: center;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.punch-button {
  border: none;
  background: #f08a5d;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100px;
  height: 100px;
}

.punch-button:hover {
  background-color: #FA765F;
}

@keyframes punchPress {
  0% { transform: scale(1); }
  50% { transform: scale(1.2) rotate(-10deg); }
  100% { transform: scale(1) rotate(0deg); }
}

.punch-button:active {
  animation: punchPress 0.3s ease;
}

.punch-button img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.fist-float {
  position: fixed;
  top: -60px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  animation: floatDown 6s linear infinite;
  pointer-events: none;
  z-index: 0;
}

@keyframes floatDown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(110vh);
    opacity: 0;
  }
}